<%= @store.longName %><br/>
<%= @store.storeType %><br/>
<%= @store.city %><br/>
<%= @store.postalCode %><br/>
<%= @store.address %><br/>
<h5>hours:</h5>
<ul>
  <% @store.hoursAmPm.split(";").each do |hours| %>
  <li><%= hours %></li>
  <% end %>
</ul>
